.container {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}
.page {
  margin: 5px;
}
.newgroup {
  width: 200px;
  height: 20px;
  background-color: orange;
  padding: 10px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  border-radius: 18px;
}
.form {
  &__select {
    padding: 5px;
    width: 200px;
  }
  &__field {
    display: flex;
    width: 200px;
    margin: auto;
  }
  &__submit {
    background-color: rgb(237, 175, 74);
    color: white;
    width: 100px;
    padding: 5px;
    margin: 10px auto;
    cursor: pointer;
  }
}
