.container {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}

.page {
  margin: 5px;
  height: 100vh;
}
.newgroup {
  width: 100%;
  display: flex;
  justify-content: end;
  &__button {
    width: 200px;
    padding: 10px;
    background-color: orange;
    font-size: 14px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    margin: 10px;
    color: white;
  }

  &__button:hover {
    opacity: 0.6;
  }
}

.form {
  &__select {
    padding: 5px;
    width: 200px;
  }
  &__field {
    display: flex;
    width: 200px;
    margin: auto;
  }
  &__submit {
    background-color: rgb(237, 175, 74);
    color: white;
    width: 100px;
    padding: 5px;
    margin: 10px auto;
    cursor: pointer;
  }
}

.enroll {
  width: 30%;
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.141);
  margin: 50px auto;
  &__button {
    background-color: white;
    cursor: pointer;
    width: 100px;
    height: 30px;
    border-radius: 2px;
  }
}
