<app-modal>
  <h2>Create Organization</h2>
  <form (ngSubmit)="createGroup()">
    <div class="form-group">
      <label for="groupName">Organization Name</label>
      <input
        type="text"
        id="groupName"
        name="groupName"
        [(ngModel)]="newGroup.groupName"
        required
      />
    </div>
    <div class="buttons">
      <button class="submit" type="submit">Create</button>
      <button class="clear" type="button" (click)="closeCreateModal()">
        Cancel
      </button>
    </div>
  </form>
</app-modal>
